.App {
  text-align: center;
}

.customizer {
  margin: 20px;
}

svg {
  margin: 20px;
  width: 100%;
}

button {
  margin: 10px;
}

@keyframes waveAnim {
  0% {
    d: path("M0,50 C150,80 300,20 450,50 C600,80 750,20 900,50 C1050,80 1200,20 1350,50 L1350,00 L0,0 Z");
  }

  50% {
    d: path("M0,60 C150,90 300,30 450,60 C600,90 750,30 900,60 C1050,90 1200,30 1350,60 L1350,00 L0,0 Z");
  }

  100% {
    d: path("M0,50 C150,80 300,20 450,50 C600,80 750,20 900,50 C1050,80 1200,20 1350,50 L1350,00 L0,0 Z");
  }
}